#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

.square{
  display:flex;
  align-items: center;       /* vertically center text */
  justify-content: center;   /* horizontally center text */
  width: 100px;
  height: 100px;
  background-color: rgb(26, 26, 26);
  border: 5px solid rgb(99, 99, 99);
  font-size: 48px;           /* make the letter large */
  color: white;              /* white text */
  font-weight: bold;         /* bold letters */
}
.square-yellow{
  display:flex;
  align-items: center;       /* vertically center text */
  justify-content: center;   /* horizontally center text */
  width: 100px;
  height: 100px;
  background-color: rgb(26, 26, 26);
  border: 5px solid rgb(99, 99, 99);
  font-size: 48px;           /* make the letter large */
  color: rgb(204, 185, 16);              /* white text */
  font-weight: bold;         /* bold letters */
}
.square-green{
  display:flex;
  align-items: center;       /* vertically center text */
  justify-content: center;   /* horizontally center text */
  width: 100px;
  height: 100px;
  background-color: rgb(26, 26, 26);
  border: 5px solid rgb(99, 99, 99);
  font-size: 48px;           /* make the letter large */
  color: rgb(7, 117, 16);              /* white text */
  font-weight: bold;         /* bold letters */
}

.square_single_row{
  display: flex;
  /*grid-template-columns: repeat(6, 50px);*/
  /*grid-template-rows: repeat(5, 50px); */
  gap: 5px;
  padding: 5px;
}

.square_rows{
  display: grid;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
